<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Timesheet Project</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            Привет, {{ user.username }}! | 
            <a href="{% url 'timesheet_list' %}">Timesheets</a> | 
            <a href="{% url 'timesheet_create' %}">Добавить</a> | 
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>